body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #463b23;
}

h1 {
  text-align: center;
  color: rgb(206, 174, 135);
}

.output-container {
  margin-top: 20px;
  color: rgba(233, 184, 125, 0.863);
}